@model IEnumerable<DoanWeb.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
           
    <h1 class="mt-4">Manage Category</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>

    <div class="card mb-4">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name Category</th>
                             <th>Action</th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.idCategory</td>
                                <td>@item.nameCategory</td>
                                       
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.idCategory }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.idCategory }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.idCategory })

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




